
@import "settings";
@import "foundation";
@import "variables";

body {
  // background-image: url(../images/bg-lg.jpg);
  background-image: url(../images/bg-sm.jpg);
  @media #{$medium-only} {
    background-image: url(../images/bg-md.jpg);
  }
  @media #{$large-up} {
    background-image: url(../images/bg-lg.jpg);
  }
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $text-color;
}

h1 {
  font-size: 3.4em;
  line-height: 85%;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: $text-color;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  @media #{$medium-only} {
    font-size: 5.5em;
    line-height: 100%;
    margin-bottom: 0.1em;
  }
  @media #{$large-up} {
    font-size: 6em;
    line-height: 100%;
    margin-bottom: 0em;
  }
}

h2 {
  font-size: 1em;
  @media #{$medium-only} {
    font-size: 1.2em;
  }
  @media #{$large-up} {
    font-size: 1.4em;
  }
  // font-family: 'EB Garamond', serif;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgba($subheading-color, 0.5);
  padding-top: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.contact-icons {
  padding-top: 0.5em;
  font-size: 3.4em;
  a {
    color: rgba($subheading-color, 0.6);
    &:hover {
      color: rgba(#ff9853, 0.6);
    }
  }
}

a {
  color: rgba($subheading-color, 0.6);
  &.active {
    color: rgba($subheading-color, 0.6);
  }
  &:hover {
    color: rgba($subheading-color, 0.6);
  }
  &:visited {
    color: rgba($subheading-color, 0.6);
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  a {
    color: $subheading-color;
    &:hover {
      color: #ff9853;
    }
  }
}

.main {
  margin: 0 auto;
  height: 100vh;
}

.projects {
  height: 45vh;
  @media #{$small-only} {
    height: 55vh;
  }
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width:4px;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,0);
}

.sub-heading {
  &:hover {
    background-image: url(../images/link-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.clipped {
  background: url(../images/title-bg-sm.jpg);
  @media #{$medium-up} {
    background: url(../images/title-bg.jpg);
    -webkit-background-clip: text;
  }
  background-size: contain;
  color: #fff;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}