
@import "settings";
@import "foundation";
@import "variables";

body {
  // background-image: url(../images/bg-lg.jpg);
  background-image: url(../images/bg-sm.jpg);
  @media #{$medium-only} {
    background-image: url(../images/bg-md.jpg);
  }
  @media #{$large-up} {
    background-image: url(../images/bg-lg.jpg);
  }
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $text-color;
}

h1 {
  font-size: 3.5em;
  font-family: 'Righteous', cursive;
  text-align: center;
  color: $text-color;
  margin-top: 0.8em;
  margin-bottom: 0em;
  @media #{$medium-only} {
    font-size: 4.5em;
  }
  @media #{$large-up} {
    font-size: 5.5em;
  }
}

h2 {
  font-size: 1.3em;
  @media #{$medium-only} {
    font-size: 1.8em;
  }
  @media #{$large-up} {
    font-size: 2em;
  }
  font-family: 'Righteous', cursive;
  text-align: center;
  color: rgba($subheading-color, 0.5);
  padding-top: 0em;
  margin-top: 0em;
  margin-bottom: 1em;
}

a {
  color: rgba($subheading-color, 0.6);
  &.active {
    color: rgba($subheading-color, 0.6);
  }
  &:hover {
    color: rgba($subheading-color, 0.6);
  }
  &:visited {
    color: rgba($subheading-color, 0.6);
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  a {
    color: $subheading-color;
    &:hover {
      color: #ff9853;
    }
  }
}


.main {
  margin: 0 auto;
  height: 100vh;
}

.projects {
  height: 40vh;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width:4px;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,0);
}

.sub-heading {
  &:hover {
    background-image: url(../images/link-bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.clipped {
  background: url(../images/title-bg.png);
  background-size: contain;
  color: #fff;
  text-align: center;
  /* -webkit-background-clip clips the background of the element to the text */
  -webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
  -webkit-background-clip: text;
}