<div class="row">
  <div class="small-12 medium-8 medium-centered columns text-center">
    <p>I'm a Toronto-based web developer, specialising in Ruby on Rails and Ember.js. A graduate of the <a href="https://flatironschool.com/">Flatiron School</a> in New York, I'm a full stack developer - though I'm particularly excited by solving problems in the front-end.</p>
    <p>Before my life in code, I was an environmental policy researcher, conducting research on climate change and ocean policy on behalf of organisations like the EU and the UN. In my free time, I like to do improv comedy, continue my search for the perfect pizza recipe, and devote too much of my heart to the Toronto Raptors.</p>
  </div>
</div>
{{outlet}}
