<div class="row">
  <div class="small-12 medium-9 medium-centered columns text-center">
    <p>I'm a Toronto-based web developer, with a knack for creative problem solving and an eye for design. I'm a graduate of the <a href="https://flatironschool.com/" target="_blank">Flatiron School</a> in New York, specializing in Ruby on Rails and Ember.JS.</p>
    <p>Before my life in code, I worked in environmental policy, conducting research on climate and ocean governance on behalf of organisations like the EU, and even representing a <a href="https://en.wikipedia.org/wiki/Nauru" target="_blank">tiny island nation</a> at the UN. In my free time, I like to do improv comedy, continue my search for the perfect pizza recipe, and devote too much of my heart to the Toronto Raptors.</p>
  </div>
</div>
{{outlet}}
