<p>
  Hi there. I'm Andrew, a Toronto-based web developer who recently graduated from an immmersive full stack development program at <a href="https://flatironschool.com/" target="_blank">Flatiron School</a> in New York. I'm looking to put my programming skills to work building great things with great people. I specialize in Ruby on Rails and Ember.JS, though I'm <a href="http://sareid.github.io/" target="_blank">always learning new skills</a>. As a programmer, I love situations where I can exercise creativity, problem-solving, and my eye for design.
</p>

<p>
  Before discovering my love of code, I worked in environmental policy, conducting research on climate and ocean governance on behalf of organisations like the EU, and even representing a <a href="https://en.wikipedia.org/wiki/Nauru" target="_blank">tiny island nation</a> at the UN. In my free time, I search for the perfect pizza recipe, do improv comedy, and spend too much of my time fretting over the Toronto Raptors.
</p>

{{outlet}}
