<p>
  I'm a Toronto-based web developer, with a knack for creativity and an eye for design. I'm a graduate of the <a href="https://flatironschool.com/" target="_blank">Flatiron School</a> in New York, specializing in Ruby on Rails and Ember.JS. I work across the full stack, but am particularly excited about solving problems in the front end.
</p>

<p>
  Before my life in code, I worked in environmental policy, conducting research on climate and ocean governance on behalf of organisations like the EU, and even representing a <a href="https://en.wikipedia.org/wiki/Nauru" target="_blank">tiny island nation</a> at the UN. In my free time, I like to do improv comedy, search for the ever-elusive perfect pizza recipe, and devote too much of my heart to the Toronto Raptors.
</p>

{{outlet}}
