<div class="row">
  <div class="small-3 columns">
    <p><a href="mailto:s.andrew.reid@gmail.com">E-Mail</a></p>
  </div>
  <div class="small-3 columns">
    <p><a href="https://github.com/sareid" target="_blank">Github</a></p>
  </div>
  <div class="small-3 columns">
    <p><a href="https://twitter.com/doeshisbest" target="_blank">Twitter</a></p>
  </div>
  <div class="small-3 columns">
    <p><a href="https://www.linkedin.com/in/sandrewreid" target="_blank">LinkedIn</a></p>
  </div>
</div>
{{outlet}}
